<div class="signin-signup-block">
  <div class="form-content">
    <%= render partial: "home/signin-signup", locals: { signUpFlag: @signUpFlag } %>
  </div>
</div>

<section  id="welcome-block">
  <div class="container">
    <div class="welcome-block-row">
      <%= image_tag("left-image.jpg", class: "left-image", alt: "left-image") %>
      <div class="text-center">
        <h1 class="text-center-title">Casa Blanca</h1>
        <span class="welcome">Welcome to our Cafe</span>
        <p class="desciption">We make food with love and so much care, we provide food items of different cultures and cuisines
         viz: South Indian, North Indian, Hyderabadi Specialities, Indo-Chinese, Korean cuisines and many more.</p>
      </div>
      <%= image_tag("right-image.jpg", class: "right-image", alt: "left-image") %>
    </div>
  </div>
</section>
