::selection{
  /* Do nothing. When something selected, there's no change in its style */
  color: #361919;
  background-color: rgb(180, 160, 160);
}

.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}

#main-header{
  background-color: #435248;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar{
display: grid;
grid-template-columns: 1fr 1fr;
padding: 20px 0 2px;
}

.left-part{
  align-self: center;
}

.right-part{
  justify-self: end;
  display: grid;
  grid-auto-rows: 36px;
}

.tags{
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-self: end;
  padding-bottom: 5px;
}

.brand-icon{
  font-size: 52px;
  margin-right: 16px;
  color: #63b7af;
  position: relative;
  bottom: 6px;
}

.navbar-title{
  font-size: 72px;
  font-family: 'Sacramento', cursive;
  font-weight: 900;
  display: inline;
}

.navbar-title:hover{
  color: #63b7af;
}

.navbar-title:hover .brand-icon{
  color: #fff;
}

.quote{
  font-size: 34px;
  font-family: 'Cedarville Cursive', cursive;
}

.tag{
  min-width: 100px;
  color: #ffe0ac;
}

.tag:hover{
  color: #f8f3eb;
}

.drop-down-tags{
  background-color: #435248;
  width: 165px;
  display: none;
}

.drop-down-tags-menu:hover .drop-down-tags{
  display: grid;
  position: absolute;
  top: 88px;
  right: 34px;
  margin: 0;
  grid-gap: 10px;
}

.drop-down-tag{
  padding: 10px;
}

.drop-down-tag:hover{
  background-color:  #99524b;
}

.tag-fa{
  margin-right: 4px;
}

.flash{
  padding: 15px 0;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  color:white;
}

.flash-error{
  background-color: red;
}

.flash-notice{
  background-color: green;
}

#footer{
  background-color: black;
  color: white;
  padding: 40px 0;
}

.footer-grid{
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.footer-left{
  display: grid;
}

.social{
  align-self: end;
}

.social-icon{
  display: inline-block;
  margin-right: 22px;
}

.social-icon:hover{
  color: #63b7af;
}

.footer-right{
  padding-bottom: 20px;
}

.footer-right-grid{
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info{
  display: grid;
  grid-gap: 20px;
}

.info-tag:hover{
  color: #63b7af;
}

.address{
  justify-self: center;
  line-height: 1.5em;
}

.footer-title{
  margin-top: 5px;
  font-size: 42px;
  font-family: 'Sacramento', cursive;
  font-weight: 900;
}

.mailus{
  text-align: center;
  width: 90px;
  border: 2px solid #885a52;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #63b7af;
  display: inline-block;
  padding: 12px 20px;
  position: relative;
  left: 35%;
  top: 16px;
}

.mailus:hover{
  background-color: #4c6b68;
  color: white;
  font-weight: 600;
}
