::selection {
  /* Do nothing. When something selected, there's no change in its style */
  color: #361919;
  background-color: rgb(180, 160, 160);
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: #e61f4a;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0 2px;
}

.left-part {
  align-self: center;
}

.right-part {
  justify-self: end;
  display: grid;
  grid-auto-rows: 36px;
}

.tags {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-self: end;
  padding-bottom: 5px;
}

.brand-icon {
  font-size: 52px;
  margin-right: 16px;
  color: #63b7af;
  position: relative;
  bottom: 6px;
}

.navbar-title {
  font-size: 72px;
  font-family: "Sacramento", cursive;
  font-weight: 900;
  display: inline;
}

.navbar-title:hover {
  color: #63b7af;
}

.navbar-title:hover .brand-icon {
  color: #fff;
}

.quote {
  font-size: 34px;
  font-family: "Cedarville Cursive", cursive;
}

.tag {
  min-width: 40px;
  margin-right: 15px;
  color: #ffe0ac;
}

.tag:hover {
  color: #f8f3eb;
}

.tag-fa {
  margin-right: 4px;
}

.flash {
  padding: 15px 0;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}

.flash-error {
  background-color: red;
}

.flash-notice {
  background-color: green;
}

#footer {
  background-color: rgb(87, 87, 87);
  color: white;
  padding: 40px 0;
}
