.new{
  padding: 20px 0;
  text-align: center;
}

.form-input{
  width: 200px;
  height: 30px;
  padding: 2px 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
}

.form-submit{
  cursor: pointer;
  width: 100px;
  height: 30px;
  padding: 2px 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border-style: none;
  transition: background-color 0.4s;
}

.form-submit:hover{
  background-color: black;
  color: white;
}
