.report-container{
  width: 85%;
  margin: auto;
  text-align: center;
}

.reports-title{
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  font-size: 28px;
  color: green;
}
.reports-search{
  margin-top: 10px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}
.reports-customer_id{
  width: 60px;
}
.reports-info{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: brown;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.reports-table{
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
.reports-table__tr{
  border: 1px solid black;
}
.reports-search-button{
 margin-top: 20px;
 align-self: center;
}
